<div class="container">
    <header>
        <div class="sidebar">
            <div class="logo">
                <div class="background">
                    <img src="assets/logo.svg" alt="logo">
                </div>
            </div>
            <div class="profile-picture">
                <div class="bg-mode">
                    <div class="bg-mood">
                        <button>
                            <img class="moon" src="assets/icon-moon.svg" alt="moon icon">
                            <img class="sun" src="assets/icon-sun.svg" alt="sun icon">
                        </button>
                    </div>
                </div>
                <div class="avatar-image">
                    <img src="assets/image-avatar.jpg" alt="avatar image">
                </div>
            </div>
        </div>
    </header>
    <main>
        <app-invoice></app-invoice>
    </main>
</div>