<div class="container-add-invoice">
    <h2>New Invoice</h2>
    <div class="div">
        <form>
            <div class="billFrom">
                <h3>Bill From</h3>
                <div class="location-street">
                    <label for="streetAdress">Street Adress</label>
                    <input id="streetAdress" name="streetAdress" type="text">
                </div>
                <div class="location-city">
                    <label for="cityAdress">City</label>
                    <input type="text" name="city" id="cityAdress">
                </div>
                <div class="location-PostCode">
                    <label for="postCodeAdress">Post Code</label>
                    <input type="text" name="postCode" id="postCodeAdress">
                </div>
                <div class="location-country">
                    <label for="countryAdress">Country</label>
                    <input type="text" name="country" id="countryAdress">
                </div>
            </div>
            <div class="billTo">
                <h3>Bill To</h3>
                <div class="clientName">
                    <label for="clientName">Client's Name</label>
                    <input type="text" name="clientNameI" id="clientName">
                </div>
                <div class="clientEmail">
                    <label for="clientEmail">Client's Email</label>
                    <input type="email" id="clientEmail">
                </div>
                <div class="clientStreetAddress">
                    <label for="clientStreetAddress">Street Address</label>
                    <input type="text" name="clientStreetAddressI" id="clientStreetAddress">
                </div>
                <div class="clientCity">
                    <label for="clientCity">City</label>
                    <input type="text" name="clientCityI" id="clientCity">
                </div>
                <div class="clientPostCode">
                    <label for="clientPostCode">Post Code</label>
                    <input type="text" name="clientPostCodeI" id="clientPostCode">
                </div>
                <div class="clientCountry">
                    <label for="clientCountry">Country</label>
                    <input type="text" name="clientCountryI" id="clientCountry">
                </div>
                <div class="date">
                    <label for="invoiceDate">Invoice Date</label>
                    <input type="date" id="invoiceDate">
                </div>
                <div class="paymentTerms">
                    <a>Net 14 Days</a>
                    <div class="dropdown-content">
                        <a>Net 1 Day</a>
                        <a>Net 7 Day</a>
                        <a>Net 14 Day</a>
                        <a>Net 30 Day</a>
                    </div>
                </div>
                <div class="projectDescription">
                    <label for="projectDescription">Project Description</label>
                    <input type="text" name="projectDescriptionI" id="projectDescription">
                </div>
            </div>
            <div class="itemList">
                <h3>Item List</h3>
                
            </div>
        </form>
    </div>
</div>