// variables 

$purple: "#7C5DFA";
$purple-brighter: "#9277FF";
$navy-blue: "#1E2139";
$navy-blue-brighter: "#252945";
$white-cloud: "DFE3FA";
$grey-purple: "888EBO";
$grey-purple-brighter: "7E88C3";
$black: "0C0E16";
$red: "EC5757";
$pink: "9277FF";
$light-bg: "F8F8FB";
$black-bg: "141625";

$spartan: "Spartan", sans-serif;

